<<<<<<< HEAD
body{
font-family: Arial;
margin:0;
background:#f6f6f6;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 80px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
font-size:20px;
font-weight:bold;
}

.btn-primary{
background:#f4a300;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;
}

.btn-light{
background:white;
border:1px solid #ddd;
padding:10px 18px;
}

.hero{
background:#1f3a63;
color:white;
text-align:center;
padding:100px 20px;
}

.hero span{
color:#f4a300;
}

.badge{
background:#2f4d7c;
display:inline-block;
padding:6px 12px;
border-radius:20px;
margin-bottom:20px;
}

.hero-buttons{
margin-top:30px;
}

.btn-secondary{
background:#eee;
padding:10px 18px;
border:none;
margin-left:10px;
}

.stats{
display:flex;
justify-content:space-around;
background:white;
padding:40px;
}

.stat h2{
color:#f4a300;
font-size:32px;
}

.features{
padding:60px;
text-align:center;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
margin-top:40px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card i{
font-size:30px;
color:#f4a300;
margin-bottom:10px;
}

.dashboard{
padding:60px;
background:white;
text-align:center;
}
=======
body{
font-family: Arial;
margin:0;
background:#f6f6f6;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 80px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
font-size:20px;
font-weight:bold;
}

.btn-primary{
background:#f4a300;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;
}

.btn-light{
background:white;
border:1px solid #ddd;
padding:10px 18px;
}

.hero{
background:#1f3a63;
color:white;
text-align:center;
padding:100px 20px;
}

.hero span{
color:#f4a300;
}

.badge{
background:#2f4d7c;
display:inline-block;
padding:6px 12px;
border-radius:20px;
margin-bottom:20px;
}

.hero-buttons{
margin-top:30px;
}

.btn-secondary{
background:#eee;
padding:10px 18px;
border:none;
margin-left:10px;
}

.stats{
display:flex;
justify-content:space-around;
background:white;
padding:40px;
}

.stat h2{
color:#f4a300;
font-size:32px;
}

.features{
padding:60px;
text-align:center;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
margin-top:40px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card i{
font-size:30px;
color:#f4a300;
margin-bottom:10px;
}

.dashboard{
padding:60px;
background:white;
text-align:center;
}
>>>>>>> db93cf99883e8ca345a09e4a4c8fb4a11b7ccf28
